header{
    border: 3px solid black;
    height: 150px;
    width: 80%;
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}
p{text-align: center;
    font-size: 60px;
}
.btnUsed{
    background: black;
}
button{
    display: table ;
    text-align: center;
    margin: 5px;
    min-width: 5px;
    color: darkslateblue;
}
.btn{
    font-size: 40px;
}
.jumbotron{
    font-family: 'Cabin Sketch', cursive;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom:10px;
}
body {
    background-image: url("../images/dinosaur-on-seamless-pattern_1308-19437.jpg");
  }